<launch>

  <arg name="scan" default="base_scan"/>
  <arg name="base_frame" default="base_link"/>
  <arg name="cmd_vel" default="base_controller/cmd_vel"/>

  <!-- Map Server -->
  <arg name="world_name" default="hospital_small"/>
  <!-- <arg name="world_name" default="single_room"/> -->
  <node name="map_server" pkg="map_server" type="map_server" 
        args="$(find trina2_navigation)/maps/$(arg world_name).yaml" />

  <!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <remap from="scan" to="$(arg scan)"/>
    
    <!-- Filter -->
    <param name="min_particles" value="20"/>
    <param name="max_particles" value="200"/>
    <param name="update_min_a" value="0.1"/>
    <param name="update_min_d" value="0.25"/>
    <!-- Laser -->
    <!-- Odometry -->
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="$(arg base_frame)"/>
    <param name="global_frame_id" value="map"/>
  </node>

  <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>
    
    <rosparam file="$(find trina2_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" 
     subst_value="true"/>
    <rosparam file="$(find trina2_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" 
     subst_value="true"/>
    <rosparam file="$(find trina2_navigation)/config/local_costmap_params.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find trina2_navigation)/config/global_costmap_params.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find trina2_navigation)/config/base_local_planner_params.yaml" command="load"/>
  </node>

</launch>
