<?xml version="1.0"?>

<robot name="trina2" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Arguments -->
    <xacro:arg name="arm" default="gen3" />
    <xacro:arg name="dof" default="7" />
    <xacro:arg name="vision" default="true" />

    <xacro:arg name="gripper" default="false" />

    <xacro:arg name="sim" default="true" />
    <xacro:arg name="ns" default="trina2" />

    <xacro:arg name="right_prefix" default="right_arm_" />
    <xacro:arg name="left_prefix" default="left_arm_" />

    <!-- Include files -->
    <xacro:include filename="$(find trina2_description)/base/urdf/freight_macro.xacro" />
    <xacro:include filename="$(find trina2_description)/base/urdf/torso.urdf.xacro" />
    <xacro:include filename="$(find trina2_description)/arms/urdf/kortex_robot.xacro" />
    <xacro:include filename="$(find trina2_description)/camera/urdf/main_camera_support.urdf.xacro" />
    <xacro:include filename="$(find trina2_description)/camera/urdf/arm_camera.urdf.xacro" />

    <!-- Load the base -->
    <xacro:load_base ns="$(arg ns)"/>

    <!-- Load torso -->
    <xacro:load_torso ns="$(arg ns)"/> 

    <!-- Load the right arm -->
    <xacro:load_robot arm="$(arg arm)" gripper="$(arg gripper)" dof="$(arg dof)" 
                    vision="$(arg vision)" sim="$(arg sim)" 
                    prefix="$(arg right_prefix)" parent="right_shoulder"/>
    <!-- Load arm camera -->
    <xacro:load_arm_camera ns="$(arg ns)" prefix="$(arg right_prefix)" arm_camera_base="$(arg right_prefix)camera_link"
                           width="858" height="720" update_rate="30" wide_flag="true"/>


    <!-- Load the left arm -->
    <xacro:load_robot arm="$(arg arm)" gripper="$(arg gripper)" dof="$(arg dof)" 
                    vision="$(arg vision)" sim="$(arg sim)" 
                    prefix="$(arg left_prefix)" parent="left_shoulder"/> 
    <!-- Load arm camera -->
    <xacro:load_arm_camera ns="$(arg ns)" prefix="$(arg left_prefix)" arm_camera_base="$(arg left_prefix)camera_link"
                           width="858" height="720" update_rate="30" wide_flag="true"/>

    <!-- Load main camera -->
    <xacro:load_main_camera ns="$(arg ns)" prefix="main_" main_camera_base="torso"
                            width="858" height="720" update_rate="30" wide_flag="true"/>


    


    <!-- Load gazebo control pulgin ONLY ONCE -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>


</robot>